#page-home {
    background: url('../assets/home-background.svg');
    .content {
        margin: 0 auto;
        width: 90%;
        max-width: 1100px;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}